<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Torrex</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4 text-white">
      <a class="navbar-brand mr-auto">Torrex</a>
      <form class="form-inline">
        <button id="add-torrent" class="btn btn-outline-light" type="button">Add Torrent</button>
      </form>
    </nav>
    <%= render @view_module, @view_template, assigns %>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
